<footer class="footer-section">
    <div class="container">
      <p>Flight In Range | &copy; <%= new Date().getFullYear() %> - All Rights Reserved</p>  
    </div>
  
</footer>
<script src="../scripts.js"></script>
</body>
</html>